html {
  width: 100%;
  height: 100%;
}
body {
  width: 98%;
  height: 98%;
  background-color: rgb(243 242 242);
}
#page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#inerpage {
  padding: 31px;
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  gap: 5px;
  border-style: solid;
  border-color: #a9abac;
}
p#para {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: small;
  font-family: none;
  text-align: left;
  color: rgb(95, 94, 94);
  margin: 0px;
}
h3#Designation {
  font-size: medium;
  font-weight: bolder;
  font-family: revert;
  margin: 0px;
}
h1#Name {
  font-family: serif;
  font-size: xx-large;
  font-weight: bolder;
  color: black;
  margin: 0px;
}
p#top {
  font-size: large;
  font-weight: bolder;
  font-family: sans-serif;
  color: chocolate;
}
img {
  border-radius: 100px;
  width: 50%;
  height: 100%;
  border-style: groove;
  border-color: #f57373;
}
.btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.imgdiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.namediv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depdiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contdiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button#right_btn {
  border: none;
  background: antiquewhite;
  font-size: x-large;
  font-weight: bolder;
  font-family: system-ui;
  color: crimson;
  border-radius: 5px;
  cursor: pointer;
}
button#left_btn {
  border: none;
  background: antiquewhite;
  font-size: x-large;
  font-weight: bolder;
  font-family: system-ui;
  color: crimson;
  border-radius: 5px;
  cursor: pointer;
}
